<h1>New Painting Form for <%=@gallery.name %></h1>

  <%= form_for [@gallery, @painting] do |f| %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :year %><br />
      <%= f.text_area :year %>
    </div>

    <div class="field">
      <%= f.label :artist %><br />
      <%= f.text_area :artist %>
    </div>

    <div class="actions">
      <%= f.submit "Add Painting"%>
    </div>
  <% end %>
